{
  "presets": [
    ["env",
      {
        "targets": {
          "node": "current"
        }
      }
    ], "stage-0"
  ],
  "plugins": [
    ["transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
